bin/
build/
.gradle/
logs/
log/
src/main/generated/
.springBeans

.classpath
.project
.settings/

.idea/
*.iml
*.class
*.log
*.log.*.gz

application.log*
.DS_Store

*.dll

\.java-version

out/
*application-local.yml
